body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}

/* Main */
/* Header */
/* ====== */
.wrap-header {
	width: 100%;
	height: 700px;
	background-color: #333333;
}
.wrap-navbar {
	width: 100%;
	height: 50px;
	background-color: #202124;
}
.navbar {
	margin: 0 auto;
	width: 1170px;
	height: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.navs {
	width: 400px;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.nav-links {
	display: inline-block;
	transition: 0.4s;
	text-decoration: none;
	color: #fff
}
.nav-links:hover {
	color: #536DFE;
}

/* Content */
/* ======= */
.content {
	width: 100%;
	height: 500px;
	background-color: #F2F2F2;
}
.greed {
	margin: 0 auto;
	width: 1170px;
	height: 500px;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.wrap-cards	{
	margin: 0 auto;
	width: 1170px;
	height: 470px;
}
.card {
	width: 350px;
	height: 300px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid;
	border-color: #E0E0E0;
	transition: 0.4s;
}
.card:hover{
	width: 350px;
	height: 300px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid;
	border-color: #c2c2c2;
}
.card-header {
	width: 350px;
	height: 180px;
	border-bottom: 1px dashed;
	border-color: #E0E0E0;
}

footer {
	height: 100px;
	background-color: #fff;
}
.footer-items {
	margin: 0 auto;
	width: 1170px;
	height: 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

/* Services */
/* =========*/
/* Header */
/* ====== */


/* Content */
/* ======= */
.content-services {
	width: 100%;
	height: 1230px;
	background-color: #F2F2F2;
}
.wrap-row {
	margin: 0 auto;
	width: 1170px;
	height: 426px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
#row-1 {
	padding-top: 100px;
}
#row-2 {
	padding-top: 60px;
}
.card-service {
	width: 350px;
	height: 426px;
	background-color: #fff;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	transition: 0.4s;
}
.card-service:hover {
	cursor: pointer;
	border-color: #BDBDBD;
}
.card-header-service {
	width: 350px;
	height: 213px;
	border-bottom: 1px dashed #E0E0E0;
}
.card-body-service {
	width: 350px;
	height: 167px;
	border-bottom: 1px dashed #E0E0E0;
}
.card-footer-service {
	width: 350px;
	height: 46px;	
}
.wrapp-button {
	width: 700px;
	height: 100px;
	margin: auto;
	margin-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-btn {
	width: 350px;
	height: 50px;
	border-radius: 5px;
	background-color: #536DFE;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

/* Client */
/* Header */
.wrap-header-client{
	width: 100%;
	height: 300px;
	background-color: #333333;
	background-image: url(../img/Group\ 2.1.png);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-client-content {
	width: 750px;
	height: 200px;
	margin: 0 auto;

}
.page-tittle {
	font-size: 48px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #fff;
}
.page-text {
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #fff;
}

/* Content Client*/
/* Specifications */
.info-tittle {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: 24px;
	color: ##202124;
}
.info-client-tittle {
	width: 100%;
	height: 48px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.client-info-1 {
	width: 100%;
	border-bottom: 1px solid #BDBDBD;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0px;
}
.info-1 {
	width: 750px;
	height: 200px;
}
.info-client-text{

}








