body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
/* Header */
/* ====== */
.wrap-header {
	width: 100%;
	height: 700px;
	background-color: #333;
}
.wrap-navbar {
	width: 100%;
	height: 50px;
	background-color: #212121;
}
.navbar {
	margin: 0 auto;
	width: 1170px;
	height: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.navs {
	width: 100px;
	height: 50px;
	display: inline-block;
}

/* Content */
/* ======= */
.content {
	width: 100%;
	height: 500px;
	background-color: #F2F2F2;
}
.greed {
	margin: 0 auto;
	width: 1170px;
	height: 500px;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.wrap-cards	{
	margin: 0 auto;
	width: 1170px;
	height: 470px;
}
.card {
	width: 350px;
	height: 300px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid;
	border-color: #E0E0E0;
	transition: 0.4s;
}
.card:hover{
	width: 350px;
	height: 300px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid;
	border-color: #BDBDBD;
}
.card-header {
	width: 350px;
	height: 180px;
	border-bottom: 1px dashed;
	border-color: #E0E0E0;
}






footer {
	height: 100px;
	background-color: #fff;
}
.footer-items {
	margin: 0 auto;
	width: 1170px;
	height: 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

/* Services */
/* ============================== */

/* Header */
/* ====== */


/* Content */
/* ======= */
.content-services {
	width: 100%;
	height: 1230px;
	background-color: #F2F2F2;
}
.wrap-row {
	margin: 0 auto;
	width: 1170px;
	height: 426px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
#row-1 {
	padding-top: 100px;
}
#row-2 {
	padding-top: 60px;
}
.card-service {
	width: 350px;
	height: 426px;
	background-color: #fff;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	transition: 0.4s;
}
.card-service:hover {
	cursor: pointer;
	border-color: #BDBDBD;
}
.card-header-service {
	width: 350px;
	height: 213px;
	border-bottom: 1px dashed #E0E0E0;
}
.card-body-service {
	width: 350px;
	height: 167px;
	border-bottom: 1px dashed #E0E0E0;
}
.card-footer-service {
	width: 350px;
	height: 46px;	
}










